@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

.card {
  background-color: #fcfcfc;
  border: 0;
  margin: 20px; }

#wapp {
  position: fixed;
  top: 75%;
  right: 150px; }
  #wapp p {
    background-color: greenyellow;
    color: black;
    padding: 15px;
    border-radius: 15%; }

@media (max-width: 675px) {
  #wapp {
    position: fixed;
    top: 10%;
    right: 5px; } }

footer .card {
  padding-top: 10px; }

.pagina-fondo, .mainLogin, .mainRuleta, .mainIndex, .mainBj, .mainHistorial {
  background-image: url("../resources/patron.png");
  background-size: 10%; }

@media (max-width: 675px) {
  .pagina-fondo, .mainLogin, .mainRuleta, .mainIndex, .mainBj, .mainHistorial {
    background-size: 20%; } }

.mainLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .mainLogin .bannerLogin {
    width: 50%; }
  .mainLogin div {
    margin: 15px 0; }

@media (max-width: 675px) {
  .mainLogin .bannerLogin {
    margin-top: 10px;
    width: 90%; }
  .mainLogin div {
    padding: 15px 10px; }
  .mainLogin .form {
    display: flex;
    flex-direction: column;
    align-items: center; } }

.mainRuleta {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainRuleta .bannerRuleta {
    display: flex;
    justify-content: center;
    width: 70%;
    padding: 15px; }
  .mainRuleta .mesa {
    background-color: #11a711;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .mainRuleta .mesa .ruleta img {
      width: 50%;
      border-radius: 50%;
      margin-top: 10px; }
    .mainRuleta .mesa .ruleta div {
      margin-top: 30px; }

@media (max-width: 675px) {
  .mainRuleta .bannerRuleta {
    width: 90%;
    padding: 5px; }
  .mainRuleta .mesa {
    background-color: #11a711;
    width: 90%;
    flex-direction: column;
    align-items: center; }
    .mainRuleta .mesa .ruleta {
      margin-left: 5px; }
      .mainRuleta .mesa .ruleta img {
        width: 50%;
        border-radius: 50%; }
      .mainRuleta .mesa .ruleta div {
        margin-top: 5px;
        width: 90%; } }

.mainIndex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .mainIndex .bannerIndex {
    width: 50%; }
  .mainIndex .juegos {
    display: flex;
    flex-direction: row; }

@media (max-width: 675px) {
  .mainIndex .bannerIndex {
    width: 90%; }
  .mainIndex .juegos {
    display: flex;
    flex-direction: column; } }

.mainRuleta {
  display: flex;
  justify-content: center; }
  .mainRuleta .mesaRuleta {
    background-color: rgba(255, 255, 255, 0);
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .mainRuleta .mesaRuleta .banner {
      display: flex;
      justify-content: center; }
    .mainRuleta .mesaRuleta #paño {
      background-color: #199919;
      display: flex;
      flex-direction: row;
      margin-top: 30px; }
      .mainRuleta .mesaRuleta #paño section {
        padding: 20px; }
        .mainRuleta .mesaRuleta #paño section .btn-group {
          margin-top: 10px; }
    .mainRuleta .mesaRuleta #panel {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 60px; }
    .mainRuleta .mesaRuleta .dados div {
      display: inline; }

@media (max-width: 675px) {
  .mainRuleta .mesaRuleta {
    width: 90%; }
    .mainRuleta .mesaRuleta #paño {
      flex-direction: column;
      margin-top: 5px;
      padding-top: 5px; }
      .mainRuleta .mesaRuleta #paño #pañoDos {
        width: 100%;
        margin-bottom: 0; }
      .mainRuleta .mesaRuleta #paño section {
        padding: 0 5px; }
        .mainRuleta .mesaRuleta #paño section .btn-group {
          margin-top: 0px; } }

.mainBj {
  display: flex;
  justify-content: center; }
  .mainBj .principalBj {
    padding: 25px;
    width: 70%; }
    .mainBj .principalBj .banBj {
      display: flex;
      align-items: center;
      justify-content: center; }
    .mainBj .principalBj .mesaBj {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #199919;
      margin-top: 30px; }
      .mainBj .principalBj .mesaBj .panelHorizonal {
        display: flex;
        flex-direction: row; }
      .mainBj .principalBj .mesaBj img {
        margin: 10px;
        width: 180px;
        height: 270px; }

@media (max-width: 675px) {
  .mainBj .principalBj {
    padding: 5px;
    width: 90%; }
    .mainBj .principalBj .mesaBj img {
      margin: 5px;
      width: 70px;
      height: 105px; } }

.mainHistorial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .mainHistorial .bannerHistorial {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mainHistorial .bannerHistorial img {
      padding: 20px;
      width: 70%; }
    .mainHistorial .bannerHistorial table {
      width: 100%; }
      .mainHistorial .bannerHistorial table td {
        width: 25%; }
    .mainHistorial .bannerHistorial #diezUltimos {
      display: flex;
      flex-direction: column;
      align-items: center; }

@media (max-width: 675px) {
  .mainHistorial .bannerHistorial {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mainHistorial .bannerHistorial table {
      width: 90%; }
      .mainHistorial .bannerHistorial table td {
        width: 25%; } }

.bannerHistorial #listado {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.bannerHistorial h3 {
  color: white; }
