.mainBj {
    @extend .pagina-fondo;
    display: flex;
    justify-content: center;

    .principalBj {
        padding: 25px;
        width: 70%;

        .banBj {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .mesaBj {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgb(25, 153, 25);

            margin-top: 30px;

            .panelHorizonal {
                display: flex;
                flex-direction: row;
            }

            img {
                margin: 10px;
                width: 180px;
                height: 270px;
            }

        }
    }

}

@media (max-width: 675px) {
    .mainBj {
       .principalBj {
            padding: 5px;
            width: 90%;      
            .mesaBj {    
                img {
                    margin: 5px;
                    width: 70px;
                    height: 105px;
                }
    
            }
        }
    
    }
}