.mainIndex {
    @extend .pagina-fondo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .bannerIndex{
       width: 50%; 
    }
    .juegos{
        display: flex;
        flex-direction: row;
        
    }
    
}

@media (max-width: 675px) {
    .mainIndex {
        .bannerIndex{
           width: 90%; 
        }
        .juegos{
            display: flex;
            flex-direction: column;
            
        }
        
    }
}